.page1 {
    background: url('img/4b.jpeg') no-repeat;
    background-size: cover;
}

.page1 img {
    position: absolute;
}

.page1 img:nth-of-type(1) {
    width: 5rem;
    height: 3.5rem;
    right: 0.1rem;
    top: 0.5rem;
}

.page1 img:nth-of-type(2) {
    width: 6.44rem;
    height: 5rem;
    left: .4rem;
    bottom: 0.2rem;
    right: .4rem;
}

.page1 img:nth-of-type(3) {
    width: 8rem;
    height: 4.5rem;
    right: 0.1rem;
    top: 4rem;
}





/* ==PAGE2== */
.page2 {
    background: url('img/2b.jpeg') no-repeat;
    background-size: cover;
}

.page2 img {
    position: absolute;
}

.page2 img:nth-of-type(1) {
    width: 6rem;
    height: 7rem;
    left: 0rem;
    top: 0rem;
}

.page2 img:nth-of-type(2) {
    width: 5rem;
    height: 3.9rem;
    right: rem;
    bottom: 2.5rem;
}
.page2 img:nth-of-type(3) {
    width: 5rem;
    height: 2.5rem;
    right: 1rem;
    bottom: 0rem;
}
.page2 img:nth-of-type(4) {
    width: 5rem;
    height: 3rem;
    right: 0rem;
    bottom: 0rem;
}


.page3 {
    background: url('img/3b.jpg') no-repeat;
    background-size: cover;
}

.page3 img {
    position: absolute;
}
.page3 img:nth-of-type(1){
    width: 6rem;
    height: 4rem;
    right: 0rem;
    left: 1rem;
    top: 0rem;
}
.page3 img:nth-of-type(2){
    width: 6rem;
    height: 4rem;
    left: rem;
    right: rem;
    bottom: 0rem;
}

.page3 img:nth-of-type(3){
    width: 6rem;
    height: 4.3rem;
    right: 0rem;
    bottom: 4.7rem;
}
.page4 {
    background: url(img/4b.jpeg)
    no-repeat;
    background-size: cover;
}

.page4 img {
    position: absolute;
}
.page4 img:nth-of-type(1){
    width: 7.5rem;
    height: 6rem;
    right: 0rem;
    top: 2rem;
}
.page4 img:nth-of-type(2){
    width: 7.5rem;
    height: 6rem;
    right: 0rem;
    top: 8rem;
}
.page4 p{
    font-size: 0.4rem;
    color: crimson;
    text-align: center;
}
.page1 p{
    font-size: 0.3rem;
    color: darkorange;

}